<% include header.ejs %>

<section>
    <h2>About Me</h2>
    <img src="/images/myphotocopy.jpeg" alt="Your photo" class="profile">
    <p>Hi, I'm Blessing Muhwezi, an aspiring IT professional with a passion for networking and security.
        Aside from that, I'm a family-oriented individual, and I love to learn new things. I’m literally down to do anything fun, productive, and that adds to my knowledge.
    </p>

    <h3>Get to know me a little bit</h3>
    <video class="video" controls poster="/videos/myvideo.mp4">
        <source src="/videos/myvideo.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</section>

<% include footer.ejs %>
