<footer>
    <p>&copy; 2024 Blessing Muhwezi. Contact: blessingmuhwezi@gmail.com</p>
    <a href="https://github.com/Blessing767/my-portfolio.git">GitHub</a> | 
    <a href="https://linkedin.com/in/blessing-muhwezi-7547a3261/">LinkedIn</a>
</footer>
