<% include header.ejs %>

<section>
    <h2>Projects</h2>

    <!-- Project 1 description with file link-->
    <article>
        <h3>CRM AI Enhancement Excellence</h3>
        <p>Leverage artificial intelligence (AI) and sophisticated customer relationship management (CRM) systems to transform the education industry.
            The goal of this integration is to improve learning, teaching, and administrative procedures while also improving the entire educational experience.
        </p>
        <a href="/downloads/project1.docx" target="_blank">View Project 1 (DOCX)</a>
    </article>

    <!-- Project 2 description with file link-->
    <article>
        <h3>SolarTech Innovations</h3>
        <p>Develop an innovative solar panel tracking system that maximizes energy efficiency.
            Enhance the integration of solar technology in urban environments.
        </p>
        <a href="/downloads/project2.docx" download>Download Project 2 (DOCX)</a>
    </article>
</section>

<% include footer.ejs %>
